@inherits LayoutComponentBase

<MudBreakpointProvider OnBreakpointChanged="@HandleBreakpointChanged" />
<MudThemeProvider Theme="@App.Theme" IsDarkMode="@App.IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <!-- AppBar -->
    <MudAppBar Elevation="1" Dense="true">
        <MudIconButton Color="Color.Inherit"
                       Class="@(App.IsMobile ? "ml-n3 mr-1" : "ml-n5 mr-1")"
                       OnClick="@App.ToggleDrawer">
            <MudIcon Icon="@DrawerIcon"
                     Class="@(App.DrawerOpen ? "drawer-icon rotate-icon" : "drawer-icon")" />
        </MudIconButton>

        <MudText Typo="Typo.h5" Class="ml-3">Vylyr</MudText>
        <MudSpacer />
        <MudIconButton Icon="@App.DarkLightModeButtonIcon"
                       Color="Color.Inherit"
                       OnClick="App.ToggleDarkMode" />
    </MudAppBar>

    <!-- Drawer / Sidebar -->
    <VylDrawer>
        <NavMenu />
    </VylDrawer>

    <!-- Main Content -->
    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>
<style>

    .drawer-toggle {
        transition: all 0.25s ease;
    }

    .drawer-icon {
        font-size: 24px;
        transition: transform 0.25s ease, opacity 0.25s ease;
    }

    .drawer-toggle:hover .drawer-icon {
        transform: rotate(90deg);
    }

    .rotate-icon {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
    }

</style>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
